body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.width-handler-large {
    max-width: 1600px;
}

.width-handler-medium {
    max-width: 1200px;
}

.width-handler-small {
    max-width: 800px;
}

.width-handler-mini {
    max-width: 400px;
}

.width-handler-large,
.width-handler-medium,
.width-handler-small,
.width-handler-mini {
    margin-left: auto;
    margin-right: auto;
}


.buffer-top {
    margin-top: 60px;
}

.buffer-bottom {
    margin-bottom: 60px;
}

.navbar-wrapper {
    min-width: 100%;
}

.navbar-wrapper,
.navbar-wrapper nav {
    background-color: #212529 !important;
}